
    
  .CardContainer {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0; 
    padding: 20px; 
}

.Card {
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ffffff; 
    
    text-align: center;
    margin-bottom: 20px; 
}

.Card p {
    color: #ffffff;
    font-size: 18px;
}

.Card a {
    color: #ffffff; 
    text-decoration: none; 
}

.Card:hover {
    border-color: #007bff; 
    background-color: #007bff; 
}

     