.title {
    width : 1600px;
    height : 80px;
    border-bottom: 14px;
    
    text-align: center;
    

}
h1{
    text-align: left;
    text-shadow: 2cqmax;
    color: #f3f4fa;
    font-size: 60px;
    font-family: w3-monospace;
}